CONFIG_PROJECT_VERSION="1.0.2-ble"
CONFIG_TUYA_PRODUCT_ID="your_product_id"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_PIXEL=y
CONFIG_PIXEL_DEVICE_NAME="pixel-ble"
CONFIG_BUTTON_NAME_4="ai_chat_button"
CONFIG_ENABLE_COMP_AI_AUDIO=y
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
CONFIG_ENABLE_AI_PLAYER=y
CONFIG_ENABLE_AI_PLAYER_DECODER_OPUS=y
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
# AI voice chat configuration
CONFIG_ENABLE_COMP_AI_PRESENT_MODE=y
CONFIG_ENABLE_COMP_AI_MODE_HOLD=y
# CONFIG_ENABLE_COMP_AI_MODE_ONESHOT is not set
# CONFIG_ENABLE_COMP_AI_MODE_WAKEUP is not set
# CONFIG_ENABLE_COMP_AI_MODE_FREE is not set
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
# CONFIG_ENABLE_AI_UI_ICON_FONT is not set
# CONFIG_ENABLE_COMP_AI_VIDEO is not set
# CONFIG_ENABLE_COMP_AI_MCP is not set
# CONFIG_ENABLE_COMP_AI_PICTURE is not set
